@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black: #111111;
	--gray-darker: #2D2D2D;
	--gray-dark: #808080;
	--gray-light: #F1F2F3;
	--gray-lighter: #E1E1E1;
	--white: #FFFFFF;
	
	--primary: #74FF66;
}

:root {
	--text-default: var(--black);
	--text-subtle: var(--gray-darker);
	--text-inverse: var(--white);

	--bg-default: var(--white);
	--bg-default-transparent: rgba(255, 255, 255, 0);
	--bg-subtle: var(--gray-light);
	--bg-inverse: var(--black);

	--border-soft: var(--gray-lighter);
	--border-hard: var(--black);
}

.dark:root {
	--text-default: var(--white);
	--text-subtle: var(--gray-light);
	--text-inverse: var(--black);

	--bg-default: var(--black);
	--bg-default-transparent: rgba(17, 17, 17, 0);
	--bg-subtle: var(--gray-darker);
	--bg-inverse: var(--white);

	--border-soft: var(--gray-darker);
	--border-hard: var(--white);
}

html {
	font-size: 10px;
}

body {
	@apply font-sans text-default subpixel-antialiased bg-default;
}

h3 {
	@apply font-bold text-tall;
}

svg {
	@apply pointer-events-none;
}

/* svelte-virtual-list-viewport::-webkit-scrollbar {
	display: none;
}

svelte-virtual-list-viewport {
	-ms-overflow-style: none;
	scrollbar-width: none;
} */
