@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 10px;
}

body {
	@apply font-sans text-default subpixel-antialiased bg-foreground;
}

h3 {
	@apply font-bold text-tall;
}

svg {
	@apply pointer-events-none;
}

/* svelte-virtual-list-viewport::-webkit-scrollbar {
	display: none;
}

svelte-virtual-list-viewport {
	-ms-overflow-style: none;
	scrollbar-width: none;
} */
