@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black: theme('colors.black');
	--gray-darker: theme('colors.gray.darker');
	--gray-dark: theme('colors.gray.dark');
	--gray-light: theme('colors.gray.light');
	--gray-lighter: theme('colors.gray.lighter');
	--white: theme('colors.white');
	--primary: theme('colors.primary');
}

:root {
	--text-default: var(--black);
	--text-subtle: var(--gray-darker);
	--text-inverse: var(--white);

	--bg-default: var(--white);
	--bg-default-transparent: rgba(255, 255, 255, 0);
	--bg-subtle: var(--gray-light);
	--bg-inverse: var(--black);

	--border-soft: var(--gray-lighter);
	--border-hard: var(--black);
}

.dark:root {
	--text-default: var(--white);
	--text-subtle: var(--gray-light);
	--text-inverse: var(--black);

	--bg-default: var(--black);
	--bg-default-transparent: rgba(17, 17, 17, 0);
	--bg-subtle: var(--gray-darker);
	--bg-inverse: var(--white);

	--border-soft: var(--gray-darker);
	--border-hard: var(--white);
}

html {
	font-size: 10px;
}

body {
	@apply font-sans text-default subpixel-antialiased bg-default;
}

h3 {
	@apply font-bold text-tall;
}

svg {
	@apply pointer-events-none;
}

.link-ish {
	@apply decoration-transparent underline underline-offset-2 transition-all duration-200;
}

.link-ish:hover {
	@apply decoration-inherit;
}